{% extends '@theme/main.html' %}

{% set page_title = 'Login' %}
{% form_theme login_form '@theme/_layouts/form.html' %}

{% block content %}
    <div class="after-nav container">
        <div class="row">
            <div class="column-4 column-offset-4">
                <div class="window">
                    <h2 class="background neutral">Login</h2>
                    <div class="content">
                        <form action="{{ request_uri }}" method="post">
                            {{ form_widget(login_form ) }}
                            <button type="submit" class="success no-mb right">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}