<h1>Header 1</h1>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
        <h4>Header 4</h4>
        <h5>Header 5</h5>
        <h6>Header 6</h6>

        <p>This is a paragraph</p>

        <ul>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
        </ul>

        <ol>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
        </ol>

        <p><a href="/">Link</a></p>

        <form>
            <input name="input1" type="text" value="Lorem ipsum" />
            <input name="input2" type="password" value="Password" />

            <select name="select1">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
                <option>Option 5</option>
            </select>

            <textarea name="textarea1">Lorem ipsum, dolor sit amet.</textarea>
        </form>

        <button class="success">Button 1</button>
        <button class="error">Button 2</button>
        <button class="warning">Button 3</button>
        <button class="info">Button 4</button>
        <button class="neutral">Button 5</button>

        <br />

        <a href="#" class="button success">Button Link</a>
        <div class="button error">Button div</div>

        <br />

        <input type="button" value="Button 2" />

        <div class="background success">Success!</div>
        <div class="background error">Error!</div>
        <div class="background warning">Warning!</div>
        <div class="background info">Info!</div>
        <div class="background neutral">Neutral!</div>