{% extends '@theme/main.html' %}

{% set page_title = 'Home' %}

{% set boards = model('boards') %}
{% set posts = model('posts', boards) %}

{% if current_board is defined %}
    {% set posts = model('posts', [current_board]) %}
{% endif %}

{% block content %}
    <div class="after-nav container">
        <div class="row">
            <div class="column-12">
                <ul class="tablets">
                    <li{{ (current_board is not defined ) ? ' class="active"' : ''}}>
                        <a href="{{ path('site.index') }}">All Discussions</a>
                    </li>
                    {% for board in boards %}
                        <li{{ (current_board is defined and current_board.slug == board.slug) ? ' class="active"' : '' }}>
                            <a href="{{ path('site.board.browse', {slug: board.slug}) }}">{{ board.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="column-12">
                <div class="panel">
                    <div class="header">
                        <h1>{{ (current_board is defined) ? current_board.name : 'All Discussions' }}</h1>
                    </div>
                    <div class="content">
                        <div class="item-list">
                            {% for post in posts %}
                                <div class="item">
                                    <div class="right">
                                        <div class="capsule">
                                            <span class="background info">
                                                <a href="{{ path('site.board.browse', {slug: post.board.slug}) }}">{{ post.board.name }}</a>
                                            </span>
                                            <span class="background neutral">
                                                <a href="#">@{{ post.author.username }}</a>
                                            </span>
                                        </div>
                                        <div style="text-align: right;">
                                            <small>{{ post.created_at|date('M d, h:i a') }}</small>
                                        </div>
                                    </div>
                                    <div class="icon">{{ post.title|first|upper }}</div>
                                    <div class="icon-after">
                                        <h1><a href="{{ path('site.post.read', {id: post.id, slug: post.slug}) }}">{{ post.title }}</a></h1>
                                        <p>{{ post.excerpt }}</p>
                                    </div>
                                </div>
                            {% else %}
                                <p>Nothing to see here.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}