{% extends '@theme/main.html' %}

{% set page_title = post.title %}
{% set postParams = {
        'id': post.id,
        'slug': post.slug
    }
%}

{% block content %}
    <div class="after-nav container">
        <div class="row">
            <div class="column-9">
                <div class="panel">
                    <div class="header">
                        <h1>{{ post.title }}</h1>
                    </div>
                    <div class="content">
                        <div class="post-list">
                            {% include '@theme/_templates/post.html' with {'post': post} %}
                            
                            {% for child in post.children %}
                                {% include '@theme/_templates/post.html' with {'post': child} %}
                            {% endfor %}
                        </div>
                        <form class="editor" action="{{ path('site.post.reply', postParams) }}" data-preview-url="{{ path('api.markdown') }}" method="post">
                            <input type="hidden" name="_token" value="{{ csrf_token('post.' ~ post.id ~ '.reply') }}" />
                            <div class="tabs">
                                <button type="button" data-toggle="text" class="active">Text</button>
                                <button type="button" data-toggle="preview">Preview</button>
                            </div>
                            <textarea class="text" name="content" placeholder="Write a reply&hellip;"></textarea>
                            <div class="preview"></div>
                            <div class="actions">
                                <button type="submit" class="success">Post Reply</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}